{% extends 'Base.html' %}
{% block content %}
<body>
    <div>
        <h1 style="display: flex">Add Series List</h1>
        <a href="{% url 'search_movie_list' %}">genre</a>
    </div>
    <hr>
    <form method="get">
        {% csrf_token %}

        <div>
            <label for="id_page">Page:</label>
            <input type="text" id="id_page" name="page" maxlength="80">
        </div>

        <div>
            <label for="id_name">Name:</label>
            <input type="text" id="id_name" name="name" maxlength="80">
        </div>

        <div>
            <label for="id_include_adult">Include Adult:</label>
            <input type="checkbox" id="id_include_adult" name="include_adult">
        </div>

        <div>
            <label for="id_release_year">Release Year:</label>
            <input type="number" id="id_release_year" name="release_year" min="1500" max="2050">
        </div>

        <div>
            <button type="submit">Search</button>
        </div>
    </form>
    <hr>
        {% for series in result %}
            <p>movie title: {{ series.name }}</p>
            <p>release date: {{ series.first_air_date }}</p>
            <p>adult: {{ series.adult }}</p>
            <p>overview: {{ series.overview }}</p>
            <p>poster : {{ series.poster_path }}</p>
            <p>genre:
            {% for genre in series.genre_ids %}
                {{ genre }} -
            {% endfor %}
            </p>
            <hr>
        {% endfor %}

</body>
{% endblock %}
