{%  load static %}
{% load pagination_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">

{#<style>#}
{##}
{#  @font-face {#}
{#    font-family: 'BYekan';#}
{#    src: url('{% static "font/BYekan.eot" %}');#}
{#    src: local('*'),#}
{#         url('{% static "font/BYekan.woff" %}') format('woff'),#}
{#         url('{% static "font//BYekan.ttf" %}') format('truetype'),#}
{#    font-weight: normal;#}
{#    font-style: normal;#}
{#  }#}
{##}
{#  /* Use the custom font in your CSS */#}
{#  body {#}
{#    font-family: 'BYekan', sans-serif;#}
{#    /* Other styling for the body */#}
{#  }#}
{#</style>#}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
