{% extends "Main/base.html" %}
{% block content %}
<div class="row">
    {% for apartment in apartments %}
    <div class="col" dir="rtl">
        <div class="col-detail">
            <div class="col-detail-content">
                <div class="col-detail-info">
                    <p class="col-detail-title">{{ apartment.title }}</p>
                    <p>Price: {{ apartment.price }}</p>
                    <p>Date: {{ apartment.date_year }}/{{ apartment.date_month }}/{{ apartment.date_day }}</p>
                </div>
                <div class="col-detail-image">
                    <img class="centered-image" src="{{ apartment.image_src }}">
                </div>
            </div>
            <button class="col-button">Buy</button>
        </div>
    </div>

    {% if forloop.counter|divisibleby:3 and not forloop.last %}
    <div style="clear:both;"></div>
    {% endif %} {% endfor %}
</div>
{% endblock %}
