button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 margin: 15px 0 15px 0;
}

button:hover {
 color: #6c757d;
}

button:hover::before {
 width: 100%;
}

.link {
  text-decoration: none;
  color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  margin: 0 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect */
.link:hover {
  background-color: #333;
  color: #fff;
}

